<h1>Login in</h1>

<% if flash[:error] %>
        <%=flash[:error]  %>
<% end %>
<div class="container">
        <div class="card" style="border-color:hotpink;">
                <%= form_tag sessions_path do %>
                <div class="form-group">
                <%= label_tag :for, "username" %><br>
                <%= text_field_tag :"user[username]", nil, placeholder: 'username', class: 'form-input'  %>
                </div>
                <div class="form-group">
                <%= label_tag :for, "password" %><br>
                <%= password_field_tag :"user[password]", nil, placeholder: 'password' %>
                </div>
                <div class="form-group">
                        <!-- <%= submit_tag 'login' %> -->
                        <input type="submit" value="Login" class="form-button">
                </div>
                <% end %>
        </div>
</div>