<h1>Login in</h1>


<div class="container">
        <div class="card" style="border-color:hotpink;">
                <% if flash[:error] %>
                        <p style = "color:red;" class="warning"><i class="fas fa-exclamation-circle"></i>  <%=flash[:error]  %></p>
                <% end %>
                <%= form_tag sessions_path do %>
                <div class="form-group">
                <%= label_tag :for, "Username" %><br>
                <%= text_field_tag :"user[username]", nil, placeholder: 'Username', class: 'form-input'  %>
                </div>
                <div class="form-group">
                <%= label_tag :for, "Password" %><br>
                <%= password_field_tag :"user[password]", nil, placeholder: 'Password' %>
                </div>
                <div class="form-group">
                        <!-- <%= submit_tag 'login' %> -->
                        <input type="submit" value="Login" class="form-button">
                </div>
                <% end %>
        </div>
</div>