

<div class="container">
        <h1>Create Group</h1>
        <div class="card" style="border-color:hotpink;">
                <% if flash[:errors] %>
                        <% flash[:errors].each do |message|%>
                        <p style="color:red;" class="warning"><i class="fas fa-exclamation-circle"></i> <%= message %></p>
                        <% end %>
                <% end %>
                <%= form_tag groups_path do %>
                <div class="form-group">
                <%= label_tag :for, "Name" %><br>
                <%= text_field_tag :"group[name]", nil, placeholder: 'Name'  %>
                </div>
                <div class="form-group">
                <%= label_tag :for, "Location" %><br>
                <%= text_field_tag :"group[location]", nil, placeholder: 'Location' %>
                </div>
                <% num=rand(1..1000) %>
                <%= hidden_field_tag :"group[img_url]", "https://picsum.photos/id/#{num}/200/200" %> 
                <div class="form-group">
                        <!-- <%= submit_tag 'login' %> -->
                        <input type="submit" value="Create" class="form-button">
                </div>
                <% end %>
        </div>
</div>