
<h1>Edit User</h1>

<div class="container" >
    <div class="card " style="border-color:hotpink;">
        <% if flash[:errors] %>
            <% flash[:errors].each do |message| %>
            <p style="color:red;"><%= message %></p>
            <% end %>
        <% end %>
        <%= form_for @user do |f| %>
            <div class="form-group">
                <%= f.label :name %><br>
                <%= f.text_field :name %>
            </div>
            <div class="form-group">
                <%= f.label :password %><br>
                <%= f.password_field :password%>
            </div>
            <div class="form-group">
                    <%= f.label :img_url %><br>
                    <%= f.text_field :img_url%>
                </div>
            <div class="form-group">
                <!-- <%= f.submit%> -->
                <input type="submit" value="Update" class="form-button">
            </div>

        <% end %>
    </div>
</div>
