<h1>Create User</h1>

<div class="container" >
    <div class="card " style="border-color:hotpink;">
        <% if flash[:errors] %>
            <% flash[:errors].each do |message| %>
            <p style="color:red;" class="warning"><i class="fas fa-exclamation-circle"></i> <%= message %></p>
            <% end %>
        <% end %>
        <%= form_for @user do |f| %>
            <div class="form-group">
                <%= f.label :username %><br>
                <%= f.text_field :username, placeholder: 'username'%>
            </div>
            <div class="form-group">
                <%= f.label :name %><br>
                <%= f.text_field :name, placeholder: 'name' %>
            </div>
            <div class="form-group">
                <%= f.label :password %><br>
                <%= f.password_field :password, placeholder: 'password' %>
            </div>
            <% num = rand(1..1000) %>
            <%= f.hidden_field :img_url, value: "https://picsum.photos/id/#{num}/200/200" %>

            <div class="form-group">
                <!-- <%= f.submit%> -->
                <input type="submit" value="Sign Up" class="form-button">
            </div>

        <% end %>
    </div>
</div>

