
<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <img src="<%= @user.img_url %>" alt="<%=@user.name%>'s profile picture" class="profile">
        </div>
        <div class="col-lg-9">
            <div class="row">
                    <h1><%= @user.name %></h1>
                    <a href="/users/<%= @user.id%>/edit"> 
                        <img src="https://cdn4.iconfinder.com/data/icons/material-design-4/614/2981_-_Power_Settings_New-512.png" alt="something " width="35px" height="35px" class="new_cereal_button">
                    </a>
            </div>
            <div class="row">
                    <h4>Username: <%= @user.username %></h4>
            </div>
            <div class="row">
                    <% if @user.group  %>
                        <h4>Group: <%= @user.group.name %></h4>  
                        <a href="/group/leave"><img src="<%=image_path('leave.png')%>" alt="" class="group_icon"></a>
                    <% else %>
                        <a href="/groups"><img src="<%=image_path('join_group.png')%>" alt="" class="group_icon"></a>
                    <% end %>
            </div>
            <div class="row">
                <h2>You can eat <b style="color:red"><%= @user.total %></b> cups of cereal in total!!!!</h2>
            </div>
        </div>
    </div>

    <h3>Your past contribution</h3>
<div class="row">
    <% @user.cereals.each do |cereal| %>
        <div class="col-sm-4 product-grid col-lg-2 col-xs-6 relative-container">
            <% if cereal.amount == 0 %>
                <a href="/cereals/<%= cereal.id %>"><%= image_tag cereal.img_url, :style => "opacity:0.3" %></a>
                <div class="text-over-img">DONE</div>
            <% else %>
                <a href="/cereals/<%= cereal.id %>"><%= image_tag cereal.img_url %></a>
            <% end %>
        </div>
    <% end %>
</div>

<h3>Transaction History</h3>
<div class="row" style="margin-bottom:60px;">
    <div class="col-sm-6 col-lg-6">
        <h4>Who took from my cereal box?</h4>
        <% @user.cereals.each do |cereal| %>
        <% cereal.transactions.each do |transaction| %>
                <li><%= transaction.user.name %> has taken <%= transaction.amount %> cups from your <%= transaction.cereal.name %></li> 
            <% end %>
        <% end %>
    </div>
    <div class="col-sm-6 col-lg-6">
        <h4>Whose cereal did I took from?</h4>
            <% @user.transactions.each do |transaction| %>
                <li>You have taken <%= transaction.amount %> cups from <%= transaction.cereal.user.name  %>'s <%= transaction.cereal.name %></li>
             <% end %>
    </div>
</div>
    
<!-- <%= button_to "Manage Account", edit_user_path, method: :get  %> -->

<a href="/cereals/new"> 
    <img src="<%= image_path('cereal_new_pink.png')%>" alt="something " width="150px" height="150px" class="new_cereal_button">
</a>


</div>